.bgBlue1{
    height: 100px;
    background-color: blue;
}
.bgRed1{
    height: 100px;
    background-color: red;
}
.bgBlue{
    height: 50px;
    background-color: blue;
}
.bgRed{
    height: 50px;
    background-color: red;
}
.bgRed2{
    height: 75px;
    background-color: red;
}